@import url('./main-layout.css');


.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
}

.pvtTotal, .pvtTotalLabel, .pvtGrandTotal {display: none}

/** {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1rem;
}*/


#table {
    padding-top: 5px !important;
    padding-left: 20px !important;
}
#scroller {

    padding-top: 5px !important;
    padding-left: 20px !important;
}
