@import url('./main-layout.css');


.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
}

.pvtTotal, .pvtTotalLabel, .pvtGrandTotal {display: none}

.grid_scenario
{
    background-color: transparent;

}

:host(.grid_scenario) [pat~="cell"]{
    background-color: silver;
}

.header{
    background-color: silver;
}

.items{
    background-color: silver;
}