@import url('./main-layout.css');


.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    border: none;
}

.pvtTotal, .pvtTotalLabel, .pvtGrandTotal {display: none}

/** {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1rem;
}*/


#table {
    padding-top: 5px !important;
    padding-left: 20px !important;
}
#scroller {

    padding-top: 5px !important;
    padding-left: 20px !important;
}


.Info{
    border: 1px solid silver;
    padding: 5px 10px;
    border-radius: 5px;
    width: 80% !important;
    background-color: #efefef;


}

.Error{
    border: 1px solid silver;
    padding: 5px 10px;
    border-radius: 5px;
    width: 95% !important;
    background: lightcoral;
}

:host([theme~="dense"]) [part~="cell"] {
    min-height: var(--lumo-size-xxs);
}
:host([theme~="dense"]) {
    font-size: var(--lumo-font-size-xxs);
}
:host([theme~="dense"]) [part~="cell"] ::slotted(vaadin-grid-cell-content) {
    padding: 1px var(--lumo-space-s);
}
:host([theme~="dense"]:not([theme~="no-row-borders"]))
[part="row"][first]
[part~="cell"]:not([part~="details-cell"]) {
    border-top: 0;
    min-height: calc(var(--lumo-size-xxs) - var(--_lumo-grid-border-width));
}